{% extends 'layout/base.html' %}


{% block content %}
<div class="container-fluid d-flex vh-100 justify-content-center align-items-center border-0">
    <div class="card w-50 border-1 h-75">
        <div class="row ">
            <div class="col-md-6 bg-light col-sm-12  border-0" style="height: 75vh;">
                <p class="ms-5" style="font-size: 1rem;" href="{% url 'register' %}">dont't have an account ? <a href="{% url 'register' %}">sign up</a></p>
                <h1 class="text-center text-capitalize">Welcome to creative <BR>DEVELOPERS</h1>
                <p class="text-center mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Autem, rerum.
                    Doloremque, quos?</p>
                <form method="post" action="">
                    {% csrf_token %}
                    
                    <label for="username" class="fs-4 fw-bolder">username</label>
                    <input type="username" class="form-control  mb-4" name="username" style="height: 6vh;">

                    <label for="password" class="fs-4 fw-bolder">Password</label>
                    <input type="password" class="form-control mb-2" name="password" style="height: 6vh;">

                
                       <a href="">
                        <button class="btn btn-outline-primary mt-2 me-5 fs-4 ps-3 pe-3 fw-bold form-control" type="submit" >Login</button>
                    </a>
                       <a href="{% url 'register' %}">
                        <div class="btn btn-outline-primary mt-2 me-5 fs-4 ps-3 pe-3 fw-bold form-control" >create an account</div>
                    </a>
                    <p class="text-center mt-3">sign in with google</p>
                    <div class="d-flex justify-content-evenly fs-1 mt-3">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-apple"></i>
                    </div>
                </form>
            </div>


            <div class="col-md-6 bg-primary col-sm-12 flex-column border-0 d-flex justify-content-center align-items-center"
                style="height: 75vh;">
                <h1 class="d-flex flex-column justify-content-center align-items-center pt-5 text-white">Make a <br>
                    Dream</h1>
                <p class="text-white  pt-4" style="font-size: 0.8rem; padding-left: 25%;">Lorem ipsum dolor sit amet
                    <br> consectetur adipisicing elit. <br> Libero totam molestias <br> magnam veritatis, tenetur
                    <br> sunt facere! Ipsa, dolor at! A.
                </p>
                    <div class="d-flex flex-row ps-5"><img src="avi.jpg" alt=""
                            style="border-radius: 50%; height: 60px; width: 60px;">
                        <p class="text-white" style="font-size: 0.8rem; padding-left: 25%;">Avinash <br>
                            verma</p>
                    </div>
            </div>
        </div>
    </div>
   
{% endblock content %}
    
  